

.section-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    padding: 120px  0px;


    .textw {
       
        h2 {
            font-weight: 700;
            font-size: 35px;
            
            
        }
    }

    .cards {
        display: flex;
       align-items: start;
       justify-content: start;
        gap: 40px;
       

        .card {
            display: flex;
            flex-direction: column;
          align-items: start;
          justify-content: start;
            gap: 20px;
            background-color: white;
            padding: 30px;
            border-radius: 20px;
            transition: all 0.5s ease;
    
            &:hover {
                background-color: rgba(229, 132, 17, 1);
             
                h2 {
                    color: white;
                }
                p {
                    color: white;
                }

                .more {
                    p {
                        color: white;
                    }
                }


            }

            h2 {
                font-weight: 700;
                font-size: 22px;
            }
            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                color: rgba(30, 30, 30, 1);

            }


            .more {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px;

                p {
                    font-weight: 500;
                    font-size: 16px;
                    color: rgba(229, 132, 17, 1);
                    
                }

            }
        }
    }
}

// .product {
//     width: 100%;
//     background-color: #F7F7F7;

//     .containersss {
//         width: 100%;
//         padding: 50px 120px;
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         justify-content: center;
//         gap: 10px;

//         @media (max-width: 980px) {
//             padding: 50px 100px;
//         }

//         h3 {
//             font-family: 'Gilroy-Bold';
//             font-size: 42px;
//             line-height: 49.22px;
//             text-align: left;
//             text-underline-position: from-font;
//             text-decoration-skip-ink: none;
//             color: #1E1E1E;
//         }
//         a {
//             margin-top: 4px;
//             display: flex;
//             align-items: center;
//             gap: 10px;
//             text-decoration: none;
//             font-family: 'Gilroy-Medium';
//             font-size: 14px;
//             line-height: 25.9px;
//             text-align: left;
//             text-underline-position: from-font;
//             text-decoration-skip-ink: none;
//             color: #E58411;
//         }
//     }
    

//     &_filter {
//         margin: 20px 0;
//         width: auto;
//         padding: 6px;
//         border-radius: 44px;
//         background-color: #EEEEEE;

//         button {
//             border: none;
//             background-color: #EEEEEE;
//             padding: 7px 19.5px;
//             border-radius: 32px;
//             font-family: 'Gilroy-Medium';
//             font-size: 18px;
//             line-height: 33.3px;
//             text-align: left;
//             text-underline-position: from-font;
//             text-decoration-skip-ink: none;
//             color: #1E1E1E;
//             cursor: pointer;
//             transition: all 0.3s ease-out;

//             &:hover {
//                 background-color: rgb(223, 222, 222);
//             }
//         }

//         .active {
//             background-color: #FFFFFF;
//         }
//     }

//     .carousel-container {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         margin: 50px auto;
//         width: 95%;
//         max-width: 1200px;
//         position: relative;

//         .carousel {
//             display: flex;
//             overflow: hidden;
//             scroll-behavior: smooth;
//             width: 100%;
//             height: auto;
//             padding: 50px 0;
//             background-color: #F7F7F7;
//             border-radius: 10px;
//             gap: 20px;

//             .carousel-item {
//                 position: relative;
//                 min-width: 24%;
//                 box-sizing: border-box;
//                 text-align: center;
//                 background-color: #FAFAFA;
//                 border-radius: 10px;

//                 img {
//                     position: absolute;
//                     top: -40px;
//                     left: 50%;
//                     transform: translateX(-50%);
//                     width: 220px;
//                     height: auto;
//                     margin-bottom: 15px;

//                 }

//                 .product_text {
//                     width: 100%;
//                     margin-top: 220px;
//                     background-color: #FFFFFF;
//                     padding: 8px 20px 20px 20px;
//                     border-radius: 0 0 10px 10px;
//                     display: flex;
//                     flex-direction: column;
//                     gap: 6px;

//                     p {
//                         font-family: 'Inter';
//                         font-size: 16.76px;
//                         font-weight: 400;
//                         line-height: 20.28px;
//                         text-align: left;
//                         text-underline-position: from-font;
//                         text-decoration-skip-ink: none;
//                         color: #8D8D8D;
//                     }

//                     h3 {
//                         font-family: 'Inter';
//                         font-size: 21.33px;
//                         font-weight: 600;
//                         line-height: 25.81px;
//                         text-align: left;
//                         text-underline-position: from-font;
//                         text-decoration-skip-ink: none;

//                     }

//                     .product_price {
//                         display: flex;
//                         align-items: center;
//                         justify-content: space-between;
//                         margin-top: 12px;

//                         .price {
//                             display: flex;
//                             align-items: start;
//                             gap: 3px;
//                             font-family: 'Inter';
//                             font-size: 21.33px;
//                             font-weight: 600;
//                             line-height: 25.81px;
//                             text-align: left;
//                             text-underline-position: from-font;
//                             text-decoration-skip-ink: none;
//                             color: #0D1B39;

//                             span {
//                                 font-family: 'Inter';
//                                 font-size: 15.23px;
//                                 font-weight: 600;
//                                 line-height: 18.43px;
//                                 text-align: left;
//                                 text-underline-position: from-font;
//                                 text-decoration-skip-ink: none;
//                                 color: #0D1B39;

//                             }
//                         }

//                         .button {
//                             display: flex;
//                             align-items: center;
//                             justify-content: center;
//                             gap: 10px;
//                             .subtract-btn{
//                                 background-color: #dd3b17;
//                                 color: white;
//                                 border: none;
//                                 border-radius: 50%;
//                                 width: 40px;
//                                 height: 40px;
//                                 font-size: 1.8rem;
//                                 cursor: pointer;
//                             }
//                             .count-display {
//                                 font-family: 'Inter';
//                                 font-size: 18px;
//                                 font-weight: 600;
//                                 line-height: 25.81px;
//                                 text-align: left;
//                                 text-underline-position: from-font;
//                                 text-decoration-skip-ink: none;
//                                 color: #0D1B39;
//                             }
//                             .add-btn {
//                                 background-color: #0D1B39;
//                                 color: white;
//                                 border: none;
//                                 border-radius: 50%;
//                                 width: 40px;
//                                 height: 40px;
//                                 font-size: 1.5rem;
//                                 cursor: pointer;
//                             }
//                         }
//                     }
//                 }

//             }
//         }

//         .carousel-btn {
//             display: flex;
//             align-items: center;
//             justify-content: center;
//             background-color: white;
//             border: none;
//             border-radius: 50%;
//             box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
//             cursor: pointer;
//             width: 40px;
//             height: 40px;
//             font-size: 1.5rem;
//             position: absolute;
//             top: 47%;
//             transform: translateY(-50%);
//             z-index: 10;
//             transition: all 0.3s ease-out;

//             &:hover {
//                 background-color: #cecdcc;
//             }

//             &.prev-btn {
//                 left: -20px;
//             }

//             &.next-btn {
//                 right: -20px;
//             }
//         }
//     }

// }
.product-section {
    width: 100%;
    background-color: #F7F7F7;
    font-family: sans-serif;
  }
  
  .container-box {
    width: 100%;
    padding: 50px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  
  
  .container-box h3 {
    font-family: 'Gilroy-Bold';
    font-size: 42px;
    line-height: 49.22px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1E1E1E;
  }
  
  .container-box a {
    margin-top: 4px;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 25.9px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #E58411;
  }
  
  .product-categories {
    margin: 20px 0;
    width: auto;
    padding: 6px;
    border-radius: 44px;
    background-color: #EEEEEE;
  }
  
  .product-categories button {
    border: none;
    background-color: #EEEEEE;
    padding: 7px 19.5px;
    border-radius: 32px;
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 33.3px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #1E1E1E;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  
  .product-categories button:hover {
    background-color: rgb(223, 222, 222);
  }
  
  .product-categories .active {
    background-color: #FFFFFF;
  }
  
  .slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    width: 95%;
    max-width: 1200px;
    position: relative;
  }
  
  .slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
    width: 100%;
    height: auto;
    padding: 50px 0;
    background-color: #F7F7F7;
    border-radius: 10px;
    gap: 20px;
  }
  
  .slider-item {
    position: relative;
    min-width: 24%;
    box-sizing: border-box;
    text-align: center;
    background-color: #FAFAFA;
    border-radius: 10px;
  }
  
  .slider-item img {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    width: 220px;
    height: auto;
    margin-bottom: 15px;
  }
  
  .item-details {
    position: relative;
    width: 100%;
    margin-top: 220px;
    background-color: #FFFFFF;
    padding: 8px 20px 20px 20px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 6px;


    img {
      position: absolute;
      top: 60px;
    left: 70px;
      width: 100px;
      height: 20px;

    }
  }
  
  .item-details p {
    font-family: 'Inter';
    font-size: 16.76px;
    font-weight: 400;
    line-height: 20.28px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  
  }



  
  .item-details h3 {
    font-family: 'Inter';
    font-size: 21.33px;
    font-weight: 600;
    line-height: 25.81px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
  
  .item-pricing {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
  }
  
  .cost {
    display: flex;
    align-items: start;
    gap: 3px;
    font-family: 'Inter';
    font-size: 21.33px;
    font-weight: 600;
    line-height: 25.81px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0D1B39;
  }
  
  .cost span {
    font-family: 'Inter';
    font-size: 15.23px;
    font-weight: 600;
    line-height: 18.43px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0D1B39;
  }
  
  .add-to-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  

  
  .add-to-cart .count-display {
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 600;
    line-height: 25.81px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #0D1B39;
  }
  
  .add-to-cart .cart-add-btn {
    background-color: #0D1B39;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .slider-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    position: absolute;
    top: 47%;
    transform: translateY(-50%);
    z-index: 10;
    transition: all 0.3s ease-out;
  }
  
  .slider-button:hover {
    background-color: #cecdcc;
  }
  
  .slider-button.prev-slide {
    left: -20px;
  }
  
  .slider-button.next-slide {
    right: -20px;
  }
  

.section-3 {
    position: relative;
    display: flex;
   align-items: start;
   justify-content: start;
   gap: 250px;  
   margin-top: 200px;


.images {
    display: flex;
   align-items: start;
   justify-content: start;

   .img-1 {
    z-index: 11111;

   }

   .img-2 {
    position: absolute;
    bottom: 120px;
    left: 0;
    z-index: -111;
   }

   .img-3 {
    position: absolute;
    bottom: 70px;
   left: 190px;
    z-index: -111;
   }
  

}

.texts {
    display: flex;
    align-items: start;
    justify-content: start;    flex-direction: column;
    gap: 22px;
    margin-top: 20px;

    h2 {
        font-weight: 600;
        font-size: 18px;
        color: rgba(229, 132, 17, 1);
        text-transform: uppercase;
    }

    h1 {
        font-weight: 700;
        font-size: 40px;
        color: rgba(30, 30, 30, 1);
        text-transform: capitalize;
    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: rgba(30, 30, 30, 1);

    }


    .more {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;

        p {
            font-weight: 500;
            font-size: 16px;
            color: rgba(229, 132, 17, 1);
        }
    }
}

}



.section-4 {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    margin-top: 220px;


    .texts {
        display: flex;
        align-items: start;
        justify-content: start;    flex-direction: column;
        gap: 22px;
        margin-top: 20px;
    
        h2 {
            font-weight: 600;
            font-size: 18px;
            color: rgba(229, 132, 17, 1);
            text-transform: uppercase;
        }
    
        h1 {
            font-weight: 700;
            font-size: 40px;
            color: rgba(30, 30, 30, 1);
            text-transform: capitalize;
        }
    
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 28px;
            color: rgba(30, 30, 30, 1);
    
        }
    
    
        .more {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
    
            p {
                font-weight: 500;
                font-size: 16px;
                color: rgba(229, 132, 17, 1);
            }
        }
    }
   
    .ss-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-right: 10%;
        gap: 30px;
    }

    .ss-img-2 {



        :nth-child(1) {
            position: absolute;
            top:140px;
            right: 0;
        }

        :nth-child(2) {
            position: absolute;
            top: 70px;
            right: 0;
            z-index: -111;
        }
    }



}





// body {
//     position: relative;
//     height: 100%;
//   }

//   body {
//     background: #eee;
//     font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
//     font-size: 14px;
//     color: #000;
//     margin: 0;
//     padding: 0;
//   }











.section-5 {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    margin-top: 200px;
  


    .texts {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;


        h2 {
            font-weight: 600;
            font-size: 18px;
            color: rgba(229, 132, 17, 1);
            text-transform: uppercase;
        }

        h1 {
            font-weight: 700;
            font-size: 40px;
            color: rgba(30, 30, 30, 1);
            text-transform: capitalize;
        }
        }
        }
    


        .swiper {
          width: 100%;
          height: auto;
        }
        
        .swiper-slide {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        
        .content-box {
        
          border-radius: 10px;
          padding: 20px;
          width: 90%; /* Moslashuvchan kenglik */
         
        }
        
        .content-box h3 {
          font-size: 18px;
          margin-bottom: 10px;
        }
        
        .content-box p {
          font-size: 14px;
          color: #666;
        }
        
        @media (max-width: 760px) {
          .content-box {
            padding: 15px;
            font-size: 14px;
            width: 95%; /* Kichik ekranlarda kenglik to'liq bo'ladi */
          }
        }

   






 




  
